Repository hyperledger/fabric-private-chaincode, pull requests merged in 2021-04, with the labels that each got.

#557 More Client SDK unit tests
  client_sdk/go/pkg/gateway/contract.go
  client_sdk/go/pkg/gateway/contract_test.go
  client_sdk/go/pkg/gateway/fakes/contract.go
  client_sdk/go/pkg/gateway/fakes/encryption_context.go
  client_sdk/go/pkg/gateway/fakes/encryption_provider.go
  client_sdk/go/pkg/gateway/fakes/network.go
  client_sdk/go/pkg/gateway/fakes/transaction.go
  client_sdk/go/pkg/gateway/internal/adapter.go
  client_sdk/go/pkg/sgx/attestation.go
  client_sdk/go/pkg/sgx/attestation_test.go
Labels: Test

#556 Enable coverage report in CI
  .github/workflows/test.yml
  Makefile
  build.mk
  codecov.yml
  common/crypto/CMakeLists.txt
  common/crypto/CMakeVariables.txt
  common/crypto/attestation-api/test/CMakeLists.txt
  common/logging/CMakeLists.txt
  common/logging/CMakeVariables.txt
  common/logging/test/CMakeLists.txt
  config.mk
  ecc/chaincode/enclave/enclave.go
  ecc_enclave/sgxcclib/CMakeLists.txt
  ecc_enclave/sgxcclib/CMakeVariables.txt
  ercc/attestation/verifier.go
  internal/crypto/client_encryption.go
  internal/crypto/crypto.go
  internal/utils/validation.go
  scripts/check_license.sh
  scripts/report.sh
  utils/docker/Makefile
Labels: Test

#565 Update Client SDK example with multi-org support
  client_sdk/go/sample/main.go
  client_sdk/go/sample/sample_connection.yaml
  go.mod
  go.sum
  integration/test-network/README.md
  integration/test-network/update-connection.sh
Labels: comp/examples

#564 Use go client sdk in HelloWorld example
  examples/README.md
Labels: comp/examples, documentation

#573 Fix test-network setting and README
  samples/deployment/test-network/Makefile
  samples/deployment/test-network/README.md
  samples/deployment/test-network/installFPC.sh
  samples/deployment/test-network/setup.sh
  samples/deployment/test-network/update-connection.sh
Labels: comp/examples, documentation
