Repository hyperledger/fabric-private-chaincode, pull requests merged in 2021-09, with the labels that each got.

#624 Add FPC go protos
  internal/protos/fpc.pb.go
  internal/protos/key_dist.pb.go
  internal/protos/staticcheck.conf
  internal/protos/tl_session/tl_session.pb.go
  internal/protos/trusted_ledger.pb.go
  protos/README.md
Labels: bug, com/client-sdk

#621 Separate the FPC go SDK from the Fabric Client SDK Go
  client_sdk/go/pkg/client/resmgmt/fakes/channelclient.go
  client_sdk/go/pkg/client/resmgmt/lifecycleclient.go
  client_sdk/go/pkg/client/resmgmt/support.go
  client_sdk/go/pkg/core/contract/contract.go
  client_sdk/go/pkg/core/contract/contract_test.go
  client_sdk/go/pkg/core/contract/fakes/contract.go
  client_sdk/go/pkg/core/contract/fakes/contract_provider.go
  client_sdk/go/pkg/core/contract/fakes/encryption_context.go
  client_sdk/go/pkg/core/contract/fakes/encryption_provider.go
  client_sdk/go/pkg/core/contract/fakes/transaction.go
  client_sdk/go/pkg/core/lifecycle/client.go
  client_sdk/go/pkg/core/lifecycle/client_test.go
  client_sdk/go/pkg/core/lifecycle/fakes/channelclient.go
  client_sdk/go/pkg/core/lifecycle/fakes/credential_converter.go
  client_sdk/go/pkg/gateway/contract.go
  client_sdk/go/pkg/gateway/internal/adapter.go
Labels: com/client-sdk

#618 Unittest for ECC
  ecc/Makefile
  ecc/chaincode/ecc.go
  ecc/chaincode/ecc_test.go
  ecc/chaincode/enclave/enclave.go
  ecc/chaincode/enclave/interface.go
  ecc/chaincode/enclave/mock_enclave.go
  ecc/chaincode/enclave/shim.go
  ecc/chaincode/ercc/stub.go
  ecc/chaincode/fakes/chaincodestub.go
  ecc/chaincode/fakes/enclave.go
  ecc/chaincode/fakes/ercc.go
  ecc/chaincode/fakes/utils.go
  ecc/chaincode/fakes/validation.go
  ecc/chaincode/utils.go
  ecc/chaincode/utils_test.go
  ecc/main.go
  internal/endorsement/fakes/chaincodestub.go
  internal/endorsement/fakes/crypto.go
  internal/endorsement/validation.go
  internal/endorsement/validation_test.go
  internal/utils/chaincode.go
  internal/utils/chaincode_test.go
  internal/utils/msp_test.go
Labels: Test
